#templex-sidebar-iframe {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    z-index: 99999999;
    background-color: black;
    border: none;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#templex-sidebar-iframe.visible {
    transform: translateX(0);
}